body {
  background-color: bisque;
}

#title {
  background-color: rgb(231, 211, 180);
  color: rgb(0, 0, 0);
  text-align: center;
  font-style: georgia;
}
#picture {
  background-color: coral;
  text-align: center;
}
#soupbowl {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
p {
  font-family: verdana;
  font-size: 20px;
}
